<h1>About VC Fund My Life UK</h1>
<p>Inspired by <%= link_to 'this article in the Wall Street Journal', 'https://www.wsj.com/articles/how-to-live-in-san-francisco-without-spending-any-money-1525029628?mod=e2tw', target:"_blank" %> about startups subsidising techies live in San Francisco, we thought the UK would benefit from a similar site.</p>
<p>Venture backed startups need to grow, and they are often happy to lose money to help speed this growth up.</p>
<p>We help show you the best offers startups (and their kind VC's) offer in the UK!</p>
